<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
asdf
<%= f.fields_for :ingredients do |builder| %>

  <%= builder.label :ingredient_name, "name of ingredient " %><br/>asdf
  <%= builder.text_area :ingredient_name %>asdf

<% end %>
asdf
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

