<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>Chefback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v2", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  
</head>
<body>

<%= yield %>

</body>
</html>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Angelhack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
>>>>>>> c56ea2630fc8ac933650255f399e6e1d074a01a2
